name: Go CI

on:
  push:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - name: setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: 1.25
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Build
        run: make build

      - name: Check formatting
        run: |
          unformatted=$(go fmt ./...)
          if [ -n "$unformatted" ]; then
            echo "go fmt resut: "
            echo "$unformatted"
            exit 1
          fi
      - name: Test
        run: make test
