name: Scheduled Traffic Amount Crawler

on:
  schedule:
    # 9時、12時、17時に実行 (UTC時間なので日本時間から9時間引く)
    - cron: '0 0,3,8 * * *'
  workflow_dispatch:

jobs:
  crawl:
    name: run traffic amount crawler
    runs-on: ubuntu-latest

    steps:
      - name: setup go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: 1.26

      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: setup environment from secrets
        run: |
          echo "${{ secrets.ENV_FILE }}" | base64 -d > .env

      - name: run crawler
        run: make run
